.product-title {
	font-weight: 700 !important;
	font-size: 1.3rem !important;
}

.button-productView {
	background-color: #3C3229 !important;
	border: 2px solid #3C3229 !important;
	color: #D3D2D0 !important;
}

#card {
	background-color: #BAAE9D;
	border: 3px solid #3C3229;
	border-radius: 25px;
}

.quantity-span {
	background-color: white;
	border: 1px solid white;
}