#navbar {
	background-color: #3C3229;	

}

.navbar-brand {
	color: #BAAE9D !important;
}

/*.navbar-light .navbar-nav .nav-link {
	color: #BAAE9D;
}*/

.navbar-toggler {
	color: #BAAE9D !important;
}

.nav-link {
	color: #BAAE9D !important;
}