#banner {
	background-image: url(../images/PRISMA_A4.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 400px;
}

.banner-title {
	background-color: rgba(0, 0, 0, .6);
	border: 1px solid transparent;
	border-radius: 10px;
	
	color: #D3D2D0;
}

#button {
	background-color: #BAAE9D;
	border:  2px solid #3C3229;
	color: #3C3229;
	border-radius: 25px;

}