.cardHighLight {
	background-color: #BAAE9D;
	min-height: 500px;
	
}

.button {
	background-color: #3C3229;
	color: #D3D2D0;
	border: 1px solid transparent;
	border-radius: 20px;
}

.images {
	border: 2px solid #3C3229;
}